#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=cmus Music Player
Comment=Launches the cmus music player
Icon=cmus
Exec=/usr/bin/urxvtc -e /usr/bin/cmus
Categories=ConsoleOnly;Audio;Player
Keywords=Audio;Music;Playlist
