;----------------------------------------------------------------------------------------
; Modify default config variables or complete re-write
;----------------------------------------------------------------------------------------
; example: re-write
monitorSettings := [{brightness: 20, temperature: "5000K", width: 1920, height: 1080}  ; for full screen video
                   ,{brightness: 15, temperature: "5000K", width: 1920, height: 1080}  ; for centered reading
                   ,{brightness: 15, temperature: "5000K", width: 1920, height: 1080}] ; for centered reading using dark theme apps (e.g. terminal/vscode)

DesktopCount := 3
