; DesktopCount := 2

; nightLightEnabled := true

; brightness has memory effect, temperature/width/height are fixed. The code design preserve the flexibility for all to have memory effect though
; monitorSettings := [{brightness: 20, temperature: "5000K", width: 3840, height: 2160}  ; for full screen video
;                    ,{brightness:  5, temperature: "5000K", width: 2880, height: 2160}  ; for centered reading
;                    ,{brightness:  9, temperature: "5000K", width: 2880, height: 2160}] ; for centered reading using dark theme apps (e.g. terminal/vscode)
; 

; Day mode
; monitorSettings[2] := {brightness: 20, temperature: "5000K", width: 3840, height: 2160}
; Night mode
monitorSettings[2] := {brightness: 20, temperature: "6500K", width: 3840, height: 2160}
