! Reload Xresources: xrdb ~/.Xresources
! get xft font name: fc-list
! sample urxvt config: https://addy-dclxvi.github.io/post/configuring-urxvt/
! urxvt Perl extension: https://github.com/muennich/urxvt-perls

!-----------------------------------------------------------------
! HiDPI
!-----------------------------------------------------------------
#include ".config/Xresources/dpi"


!-----------------------------------------------------------------
! Color scheme
!-----------------------------------------------------------------
! special
*.foreground: #ffffff
*.background: #000000

! black
*.color0: #000000
*.color8: #555753

! red
*.color1: #cc0000
*.color9: #ef2929

! green
*.color2: #4e9a06
*.color10: #8ae234

! yellow
*.color3: #c4a000
*.color11: #fce94f

! blue
*.color4: #3465a4
*.color12: #729fcf

! magenta
*.color5: #75507b
*.color13: #ad7fa8

! cyan
*.color6: #06989a
*.color14: #34e2e2

! white
*.color7: #d3d7cf
*.color15: #eeeeec


!-----------------------------------------------------------------
! xterm
!-----------------------------------------------------------------
XTerm*faceName: Consolas NF
XTerm*faceSize: 14


!-----------------------------------------------------------------
! URxvt Appearance
!-----------------------------------------------------------------
URxvt.font: xft:Consolas NF:style=Book:size=20
URxvt.boldFont: xft:Consolas NF:style=Bold:size=20
URxvt.italicFont: xft:Consolas NF:style=Italic:size=20
URxvt.boldItalicfont: xft:Consolas NF:style=Bold Italic:size=20

URxvt.letterSpace: 0
URxvt.lineSpace: 0

URxvt.geometry: 120x32
! URxvt.internalBorder: 24
URxvt.saveLines: 5000
URxvt.scrollBar: false
URxvt.scrollstyle:plain
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
! color depth: 32 will enable transparency
URxvt.depth: 24
URxvt.iso14755: false
! Dim light when not in focus
! URxvt.fading: 15


!-----------------------------------------------------------------
! URxvt keybindings
!-----------------------------------------------------------------
! Copy Paste (ctrl+shift+c/v)
URxvt.keysym.Control-C: eval:selection_to_clipboard
URxvt.keysym.Control-V: eval:paste_clipboard

! Scroll one line
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
! URxvt.keysym.Prior: perl:scroll-page:pageup
! URxvt.keysym.Next: perl:scroll-page:pagedown

! Move cursor forward/backward one word (this is xterm behavior)
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D


!-----------------------------------------------------------------
! URxvt plugins
!-----------------------------------------------------------------
! URxvt.perl-ext-common: default,matcher,keyboard-select,scroll-page
URxvt.perl-ext-common: default,matcher,keyboard-select

! Search
URxvt.searchable-scrollback: C-F

! Path/URL select (support tools: rg, git, fdfind)
URxvt.keysym.Control-D: matcher:select
! URxvt.keysym.Control-d: matcher:list
URxvt.matcher.button: 1
URxvt.matcher.pattern.1: ^\\s*(~?[\\S]+\/[\\S]+)
URxvt.matcher.launcher.1: copy-then-paste
URxvt.matcher.rend.1: Regular
URxvt.matcher.pattern.2: modified:\\s*(~?[\\S]+\/[\\S]+)
URxvt.matcher.launcher.2: copy-then-paste
URxvt.matcher.rend.2: Regular

! Arbitrary select (after activating, vim like control and search)
URxvt.keyboard-select.clipboard: true
URxvt.keysym.Control-S: perl:keyboard-select:activate


!-----------------------------------------------------------------
! Sxiv (background: for both text and image background color)
!-----------------------------------------------------------------
Sxiv.foreground: #aaaaaa
Sxiv.background: #000000
Sxiv.font: xft:Consolas NF:style=Book:size=14


!-----------------------------------------------------------------
! i3
!-----------------------------------------------------------------
#include ".config/Xresources/i3"
