#!/bin/bash -ue

# VOLUME_STEP=5

# vivaldi
BROWSER_WIN_CLASS="Vivaldi-stable"
    # --force-device-scale-factor=1   `# 24" 1080p` \
    # --force-device-scale-factor=1.8 `# 27" 4K`    \
    # --force-device-scale-factor=2   `# 32" 4K`    \
WS1_CMD() { 
    # Chrome hardware video decode: https://bbs.archlinux.org/viewtopic.php?id=244031
    # LIBVA_DRI3_DISABLE=1 \
    # vivaldi \
    # --force-device-scale-factor=1.8 `# 27" 4K` \
    # --force-dark-mode \
    # --enable-quic \
    # --ignore-gpu-blocklist \
    # --enable-gpu-rasterization \
    # --enable-zero-copy \
    # --enable-features=VaapiVideoDecoder,VaapiIgnoreDriverChecks \
    # --disable-features=UseChromeOSDirectVideoDecoder \
    # --use-gl=desktop
    vivaldi \
    --force-device-scale-factor=1.8 `# 27" 4K` \
    --force-dark-mode \
    --enable-quic \
    --ignore-gpu-blocklist \
    --enable-gpu-rasterization \
    --enable-zero-copy
}


#------------------------------------------------------------------------------
# rofi menu entries
#------------------------------------------------------------------------------
WS4_CMD() { /opt/resolve/bin/resolve; }
declare -A WOL_ENTRIES=(
    [1. NAS  ]="wake-mount  nas"
    [2. TV   ]="wake-on-lan tv"
    [3. J5005]="wake-on-lan j5005"
)

declare -A F10_ENTRIES=(
    [1. PC Gaming          ]=lutris
    [2. Yuzu               ]=yuzu
    # [3. RPCS3              ]=rpcs3
    [3. Retroarch          ]=retroarch
    # [5. Ryujinx            ]=ryujinx
    # [4. Moonlight Streaming]=moonlight
)

BLUETOOTH_ENTRIES[3. Enco Air2 Conn/Disconn]="toggle-bluetooth device Enco Air2"
# BT_QUICK_CONNECT_DEVICE="Enco Air2"


#------------------------------------------------------------------------------
# Legacy
#------------------------------------------------------------------------------
# chromium
# BROWSER_WIN_CLASS="chromium-browser"
# WS1_CMD() { 
#     # LIBVA_DRIVER_NAME=iHD `# https://github.com/intel/intel-vaapi-driver/issues/493` \
#     # LIBVA_DRIVER_NAME=i965
#     chromium --oauth2-client-id=77185425430.apps.googleusercontent.com --oauth2-client-secret=OTJgUOQcT7lO7GsGZq2G4IlT `# Chrome sync. Chrome has a bug that won't enable dark mode for webpages on Linux: https://bugs.chromium.org/p/chromium/issues/detail?id=889087` \
#              --enable-features=VaapiVideoDecoder --ignore-gpu-blocklist --enable-zero-copy `# Hardware video acceleration. https://bbs.archlinux.org/viewtopic.php?id=244031&p=21` \
#              --use-gl=desktop `# Use iHD and not i965 for hardware video driver` \
#              --force-dark-mode --force-device-scale-factor=0.84 \
#              --allow-insecure-localhost \
#              --process-per-site `# Reduce memory usage. By default, Chromium uses a separate OS process for each instance of a visited web site.` \
#              # --flag-switches-begin --disable-smooth-scrolling --flag-switches-end
# }
# chrome
# BROWSER_WIN_CLASS="Google-chrome"
# WS1_CMD() { 
#     # 24" 2K
#     google-chrome --force-dark-mode --force-device-scale-factor=0.84 # Chrome has a bug that won't enable dark mode for webpages on Linux: https://bugs.chromium.org/p/chromium/issues/detail?id=889087
#     # 32" 4K
#     # export GDK_SCALE=2; google-chrome --force-dark-mode
# }
# brave
# BROWSER_WIN_CLASS="Brave-browser"
# WS1_CMD() { 
#     brave-browser --force-dark-mode --force-device-scale-factor=0.84"
# }

