#!/bin/bash -ue

QUICK_CONNECT_MAC="94:DB:56:AE:BE:C5" # WH-1000XM4
DISPLAY_INPUTS=( # $ddcutil capabilities | grep --after-context=10 Input
    0x1  # D-Sub
    0xf  # DP
    0x11 # HDMI-1
    0x12 # HDMI-2
)

NOTIFICATION_TIMEOUT=1400

ROFI_STYLES="-dmenu  -no-fixed-num-lines -me-select-entry MouseSecondary -me-accept-entry MousePrimary -theme arc-dark-workspace-switcher.rasi"

FILE_CMD() {
    urxvtc -e ranger $HOME # ranger default editor: $HOME/.selected_editor; (or export VISUAL=vim;)
}

# chromium
# BROWSER_WIN_CLASS="chromium-browser"
# BROWSER_CMD="chromium --force-dark-mode --force-device-scale-factor=0.84 --enable-features=VaapiVideoDecoder --use-gl=desktop" # Chrome has a bug that won't enable dark mode for webpages on Linux: https://bugs.chromium.org/p/chromium/issues/detail?id=889087
# chrome
BROWSER_WIN_CLASS="Google-chrome"
BROWSER_CMD() {
    # 24" 2K
    google-chrome --force-dark-mode --force-device-scale-factor=0.84 # Chrome has a bug that won't enable dark mode for webpages on Linux: https://bugs.chromium.org/p/chromium/issues/detail?id=889087
    # 32" 4K
    # export GDK_SCALE=2; google-chrome --force-dark-mode
}
# brave
# BROWSER_WIN_CLASS="Brave-browser"
# BROWSER_CMD="brave-browser --force-dark-mode --force-device-scale-factor=0.84" # Chrome has a bug that won't enable dark mode for webpages on Linux: https://bugs.chromium.org/p/chromium/issues/detail?id=889087


#------------------------------------------------------------------------------
# rofi menu entries
#------------------------------------------------------------------------------
declare -A F4_ENTRIES=(
    [Visual Studio Code]="code --disable-gpu" # Disable GPU acceleration for VSCode. It has less memory footprint and better UI responsiveness on my machines.
)
declare -A F10_ENTRIES=(
    [1. PC Gaming          ]=lutris
    [2. Retro Arcade       ]=mame
    [3. Moonlight Streaming]=moonlight
) # "ppsspp" "desmune"
declare -A POWER_ENTRIES=(
    [1. Display Standby]="xset dpms force off"
    [2. Suspend        ]="systemctl suspend"
    [3. Reboot         ]="reboot"
    [4. Shutdown       ]="shutdown -h now"
)
declare -A BLUETOOTH_ENTRIES=(
    [1. Power On/Off        ]="toggle-bluetooth"
    [2. Headset Conn/Disconn]="bluetooth-quick-connect"
)
# WOL_WIDTH=15
declare -A WOL_ENTRIES=(
    [1. NAS  ]="wake-on-lan nas"
    [2. TV   ]="wake-on-lan tv"
    [3. J5005]="wake-on-lan j5005"
)
