[Desktop Entry]
Name=Cheat Engine tutorial (64-bit)
Exec=env WINEPREFIX="/mnt/d/wine/.wine.clean" wine C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\Cheat\\ Engine\\ 7.5\\\\Cheat\\ Engine\\ tutorial\\ \\(64-bit\\).lnk
Type=Application
StartupNotify=true
Path=/mnt/d/wine/.wine.clean/dosdevices/c:/Program Files/Cheat Engine 7.5
Icon=093A_Tutorial-x86_64.0
StartupWMClass=tutorial-x86_64.exe
