! Resize
i3wm.resizeX: 10px or 7ppt	
i3wm.resizeY: 10px or 7ppt

! Floating window movement width
i3wm.floating.deltaX: 96px
i3wm.floating.deltaY: 96px

! Pre-defined app size
i3wm.cmus.size: 40 ppt 55 ppt
i3wm.tmux.size: 60 ppt 60 ppt

! Rofi
i3wm.rofi.combi.width: 20
!i3wm.rofi.window.width: 40

! Gaps
i3wm.toggleHGap: 424
i3wm.hGapStep: 32
i3wm.vGapStep: 32

i3wm.ws1.horizontalGap:  424
i3wm.ws2.horizontalGap:  424
! i3wm.ws3.horizontalGap:  424
i3wm.ws4.horizontalGap:  424
i3wm.ws5.horizontalGap:  424
i3wm.ws6.horizontalGap:  424
i3wm.ws7.horizontalGap:  424
i3wm.ws8.horizontalGap:  424
i3wm.ws9.horizontalGap:  424
! i3wm.ws10.horizontalGap: 424

!i3wm.ws10.verticalGap: 280

! Hardware control when booting
! i3wm.hardware.bluetoothEnable: false
